<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/error404.css"/>
    <title>error404</title>
  </head>
  <body>
    <section class="vh-100 gradient-custom">
    <main class="container vh-100">
    <div class="row d-flex justify-content-center align-items-center h-100"> 
      <div class="col-xs-12 col-s-12 col-12 col-md-10 col-lg-10 col-xl-12 text-center" >
      <div class="p-5 rounded mt-3 colortarjeta">

        <img src="images/404.png" width="250" height="250">
        <h1 class="mb-3">Página no encontrada</h1>
        <h4 class="mb-3">La ubicación que buscas no existe &#128542 </h4>
        <a class="btn btn-lg btn-primary boton" href="/" role="button">Volver al inicio</a>
      </div>
      </div>
    </main>
  </section>
    </body>
</html>
