<!DOCTYPE html>
<html lang="en">
<head>
  <%-include('fragments/head')%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/neumonologia.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
   
    
    
    
    <title>Neumonología</title>
    <link rel="shortcut icon" href="./images/logo.png">

</head>
<body>
    <%-include('fragments/navbar',{login:login})%>
    
     
                        <section>
                          <div class="especialidades-tag"> </div>
                          <div class="banner-especialidades-single" style="background: url('images/neu.jpg')">
                            <div class="container title-especialidades-single">

                              <div class="title-especialidades-single-contenedor">
                                <h1 class="especialidad">Neumonología</h1>
                              </div>		
                            </div>
                          </div>
                          <div class="pagina-generica-container">
                            <div class="container container-menu">
                              <div class="pagina-generica-menu">
                                <a href="#general" class="espec_tab active-with-click">general</a><a href="#personal" class="espec_tab">personal</a><a href="#equipamiento" class="espec_tab">Pruebas diagnósticas</a>
                              </div>
                            </div>
                          </div>
                        </section>
                            
                                
                               
                              
                    
                  
                 
                        <section id="general">
                            <div id="general-especialidades-single" class="seccion" style="display:block;">
                                <section class="tab_esp tab_23966 general-especialidades-single">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-8"><h2><span style="font-size: 14pt; color: #006cb0;"><strong>Neumonologia</strong></span></h2>
                            <p>&nbsp;</p>
                            <p>El servicio de Neumonologia se ocupa de la prevención, estudio, diagnóstico, tratamiento y rehabilitación de las enfermedades del aparato respiratorio, ocupándose de las afecciones pulmonares, pleurales y mediastínicas. En referencia a las enfermedades respiratorias más importantes que trata la Neumonología es posible mencionar: asma, neumonía, EPOC (enfermedad pulmonar obstructiva crónica), cáncer de pulmón, SAOS (Síndrome de apnea del sueño), entre otras.</p>
                            <p>&nbsp;</p>
                            <p><span style="font-size: 14pt; color: #006cb0;"><strong>Patologías</strong></span></p>
                            <p>&nbsp;</p>
                            <ul class="listado">
                                <li>EPOC (La enfermedad pulmonar obstructiva crónica)</li>
                                <li>Neumonía. </li>
                                <li>Asma bronquial.</li>
                                <li>Apnea del sueño.</li>
                                <li>Pleuritis.</li>
                                <li>Fibrosis quística.</li>
                                <li>Neumotorax.</li>
                                <li>Cáncer de pulmón.</li>
                                <li>Bronquitis.</li>
                                <li>Enfisema.</li>
                                <li>Enfermedades respiratorias ocupacionales.</li>
                            </ul>
                            </div>    
                                
                                
                            
                                			</div>
                                    </div>
                            
                                </section>
                                    </div>
                 
                </section>
                
            

                <section id= "personal" class="container">

                    <h4>Nuestro equipo de profesionales</h4>
                <div class="row active-with-click">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                      <article class="material-card Indigo">
                          <h2>
                              <span>Dr. Grenat</span>
                              <strong>
                                  <i class="fa fa-user-md"></i>
                                  Especialidad: Alergólogo e inmunólogo
                              </strong>

                              <strong>
                                <i class="fa fa-id-card" aria-hidden="true"></i>
                                M.P: 24326
                            </strong>
                          </h2>
                          <div class="mc-content">
                              <div class="img-container">
                                  <img class="img-container" src="images/areas/medico1.jpg">
                              </div>
                              <div class="mc-description">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id assumenda repellendus obcaecati. Doloribus dicta earum in reiciendis quisquam reprehenderit assumenda vitae eligendi quam perferendis? Aliquid atque fugiat aut nam!                              </div>
                          </div>
                          <!-- 
                                <a class="mc-btn-action">
                                    <i class="fa fa-bars"></i>
                                </a>
                                 -->
                          
                      </article>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <article class="material-card Indigo">
                        <h2>
                            <span>Dr. Teijeiro </span>
                            <strong>
                                <i class="fa fa-user-md"></i>
                                Especialidad: Neumonologia
                            </strong>
                            <strong>
                              <i class="fa fa-id-card" aria-hidden="true"></i>
                              M.P: 24398
                          </strong>
                        </h2>
                        <div class="mc-content">
                            <div class="img-container">
                                <img class="img-container" src="images/areas/medico7.jpg">
                            </div>
                            <div class="mc-description">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id assumenda repellendus obcaecati. Doloribus dicta earum in reiciendis quisquam reprehenderit assumenda vitae eligendi quam perferendis? Aliquid atque fugiat aut nam!                              </div>
                        </div>
                        <!-- 
                      <a class="mc-btn-action">
                          <i class="fa fa-bars"></i>
                      </a>
                       -->
                       
                    </article>
                </div>


                    

                     


                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <article class="material-card Indigo">
                                <h2>
                                    <span>Dra. Gomez</span>
                                    <strong>
                                        <i class="fa fa-user-md"></i>
                                        Especialidad: Neumología
                                    </strong>

                                    <strong>
                                        <i class="fa fa-id-card" aria-hidden="true"></i>
                                        M.P: 41061
                                    </strong>
                                </h2>
                                <div class="mc-content">
                                    <div class="img-container">
                                        <img class="img-container" src="images/areas/medico4.jpg">
                                    </div>
                                    <div class="mc-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id assumenda repellendus obcaecati. Doloribus dicta earum in reiciendis quisquam reprehenderit assumenda vitae eligendi quam perferendis? Aliquid atque fugiat aut nam!                              </div>
                                </div>
                                <!-- 
                                <a class="mc-btn-action">
                                    <i class="fa fa-bars"></i>
                                </a>
                                 -->
                               
                            </article>
                        </div>

                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <article class="material-card Indigo">
                                  <h2>
                                      <span>Lic. Morales</span>
                                      <strong>
                                          <i class="fa fa-user-md"></i>
                                          Especialidad: Enfermeria
                                      </strong>

                                      <strong>
                                        <i class="fa fa-id-card" aria-hidden="true"></i>
                                        M.P: 9565
                                    </strong>
                                  </h2>
                                  <div class="mc-content">
                                      <div class="img-container">
                                          <img class="img-container" src="images/areas/medico5.jpg">
                                      </div>
                                      <div class="mc-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint id assumenda repellendus obcaecati. Doloribus dicta earum in reiciendis quisquam reprehenderit assumenda vitae eligendi quam perferendis? Aliquid atque fugiat aut nam!                              </div>
                                  </div>
                                  <!-- 
                                <a class="mc-btn-action">
                                    <i class="fa fa-bars"></i>
                                </a>
                                 -->
                                 
                              </article>
                          </div>

                          



                            

                              


                                
                              </div>
                              
                   </section>
              




                


           
      
   


    <section id="equipamiento"> 
        
        
            <div id="general-especialidades-single" class="seccion" style="display:block;">
                <section class="tab_esp tab_23966 general-especialidades-single">
                    <div class="container">
                        <div class="row">
                            <p>&nbsp;</p>

                            <div class="col-md-8"><h2><span style="font-size: 14pt; color: #006cb0;"><strong>Pruebas diagnósticas</strong></span></h2>
            <p>&nbsp;</p>
            <ul class="ul">
                <li>Radiografía.</li>
                <li>TAC torácico. </li>
                <li>Resonancia magnética.</li>
                <li>Gasometría.</li>
                <li>Fibrobroncoscopia.</li>
                <li>Flujometría.</li>
                <li>Espirometría.</li>
                <li>Pruebas de broncoprovocación.</li>
                <li>Prueba de esfuerzo.</li>



            </ul>           
             <p>&nbsp;</p>
            
            </div>    
                
                
            
                            </div>
                    </div>
            
               
                    </div>
 
</section>
   
</section>
    
          
<script  type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
    (function($) {
    $(function() {
        $('.material-card > .mc-btn-action').click(function () {
            var card = $(this).parent('.material-card');
            var icon = $(this).children('i');
            icon.addClass('fa-spin-fast');

            if (card.hasClass('mc-active')) {
                card.removeClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-arrow-left')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-bars');

                }, 800);
            } else {
                card.addClass('mc-active');

                window.setTimeout(function() {
                    icon
                        .removeClass('fa-bars')
                        .removeClass('fa-spin-fast')
                        .addClass('fa-arrow-left');

                }, 800);
            }
        });
    });
    })(jQuery);
    </script>

 <!-- footer-->
 <%-include('fragments/footer')%>
 <!-- footer-->
</body>
</html>