<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link href="css/footer.css" rel="stylesheet" />
<footer class="bg-dark py-3 " style="margin-top:20px ;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 mb-3">
            <div class="text-center">
                    <p  class="text-white  para-desc mx-auto mt-3">Programa de asma grave del Hospital Pediatrico del Niño Jesús.</p>
                    <ul class="list-unstyled social-icon social mb-0 mt-4">
                        <li class="list-inline-item"><a href="https://es-la.facebook.com/hospital.pediatrico/" target="_blank" class="rounded"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook fea icon-sm fea-social"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/hospital.pediatrico/?hl=en" target="_blank" class="rounded"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram fea icon-sm fea-social"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg></a></li>
                    </ul><!--end icon-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</footer>
<footer class="footer-bar bg-dark">
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-6 footer-bar">
                        <div class="text-sm-left">
                            <p class="mb-0 footer-text para-desc mx-auto"> Hecho por 6to año ProA 2022    <i class="mdi mdi-heart text-danger"></i></p>
                        </div>
                    </div><!--end col-->

                    <div class="col-sm-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <ul class="list-unstyled terms-service text-sm-right mb-0">
                            <li class="list-inline-item mb-0"><a href="/" class="footer-text mr-2">Inicio</a></li>
                            <li class="list-inline-item mb-0"><a href="/verPostsUsuario" class="footer-text mr-2">Artículos</a></li>
                            <li class="list-inline-item mb-0"><a href="/seccionAdmin" class="footer-text mr-2">Administración</a></li>
                            <li class="list-inline-item mb-0"><a href="/contactanos" class="footer-text">Contacto</a></li>
                        </ul>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </footer>